/*	TESTESTETSTESTETETSTESTETSTETSTGETESTESTTESTTESTTEST
	colors
	main: #557EBB / rgba(85,126,187,0.8);
	second: #C47745 / rgba(196,119,69,0.8);
*/

html {
	height: 100%;
}

body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

.wrap {
	min-height: 100%;
}

.mainz {
	overflow: auto;
	padding-bottom: 70px;
}

.container {
	margin: 0 auto;
	width: 970px;
}


/*----------Header----------*/
.header {
	background: url(../src/bc.jpg);
	background-size: cover;
	background-attachment: fixed;
	min-height: 400px;
}

.header img {
	display: block;
	max-height: 200px;
	margin: 0 auto;
}


/*----------Main----------*/
.main {
	background: #C47745;
	min-height: 400px;
	text-align: center;
}

.main .container .row .col-md-4,
.main .container .row .col-md-8 {
	border: 1px solid #fff;
}

.main .container h1 {
	margin: 0;
	padding: 30px;
	font-size: 50px;
	color: #fff;
}

.main .container p {
	font-size: 30px;
	color: #fff;
}

/*----------Ticket----------*/
.ticket {
	margin: 0;
	padding: 10px 0;
	background: url(../src/bc2.jpg) center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.ticket .container {
	padding-top: 10px;
	border-top: 3px #C47745 solid;
	border-bottom: 3px #C47745 solid;
}

.ticket .container * {
	margin: 0;
	padding: 0;
}

.ticket .container img {
	display: inline-block;
	margin: 0 0 0 20px;
	width: 400px;
}

.ticket .container span {
	margin: 15px 20px 0 0;
	display: inline-block;
	float: right;
}

.ticket .container h2 {
	margin-top: 10px;
	display: inline-block;
	font-size: 40px;
	color: #fff;
}

.ticket .container a {
	position: relative;
	margin-top: -20px;
	display: inline-block;
	font-size: 40px;
	text-decoration: none;
	color: #fff;
	top: -10px;
}

.ticket .container a:hover {
	color: #FFA266;
	border-bottom: 3px #FFA266 solid;
}


/*----------Display----------*/
.display {
	background-color: #557EBB;
}

.display .container {
	overflow: hidden;
}

.display .container figure img {
	width: 20%; 
	float: left;
}

.display .container figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}

/*----------About----------*/
.about {
	background: #C47745;
	min-height: 400px;
	text-align: center;
}

.about .container h1 {
	margin: 0;
	padding: 30px;
	font-size: 50px;
	color: #fff;
}

.about .container p {
	font-size: 30px;
	color: #fff;
}
/*----------Rooms----------*/
.rooms {
	min-height: 400px;
	background-color: #557EBB;
	padding: 10px 0;
}

.rooms .room {
	margin: 10px 0;
	width: 100%;
	background-color: rgba(196,119,69,0.6);
}

.rooms .room .imug {
	width: 100%;
	height: 280px;
	overflow: hidden;
}

.rooms .room img {
	width: 100%;
}

.hidden {
	display: none;
}

.rooms .room h1 {
	margin: 10px 40px;
	display: inline-block;
	font-family: pixel;
}

.rooms .room ul li {
	font-size: 20px;
	font-family: pixel;
}

.rooms .room button {
	background-color: #557EBB;
	border: none;
	margin: 11px 10px 0 0;
	padding: 5px 25px;
	float: right;
	display: inline-block;
}

.rooms .room button:hover {
	cursor: pointer;
	background-color: #C47745;
}

.rooms .room button:focus {
	outline: none;
}

.rooms ul {
	margin: 10px;
	clear: right;
	float: right;
	list-style-type: none;
}

#cs {
	margin-top: -150px;
}

/*----------Footer----------*/
.footer {
	position: relative;
	margin-top: -70px;
	height: 70px;
	clear: both;
	padding: 0;
	background-color: #000;
}

.footer .container *{
	margin: 0;
	padding: 0;
}

.footer .container ul {
	margin: 10px 40px 0 0;
	display: inline-block;
	list-style-type: none;
	text-align: left;
}

.footer .container ul li {
	margin: 5px 0 0 0;
	color: #fff;
}

.footer .container ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}

.footer .container ul li a:hover {
	color: #FFA266;
	text-decoration: underline;
}

.footer .container p {
	margin: 20px 0 0 0;
	display: inline-block;
	float: right;
	color: #fff;
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

@font-face {
	font-family: pixel;
	src: url(../'src/Kemco.TTF');
}